---
import Layout from "../layouts/Layout.astro";
import DepreciationSummary from "../components/DepreciationSummary";
---

<Layout title="Depreciation Summary Dashboard">
  <main class="min-h-screen py-8">
    <DepreciationSummary client:load />
  </main>
</Layout>