---
import Layout from '../layouts/Layout.astro';
import ImpairmentDashboard from '../components/ImpairmentDashboard';
---

<Layout title="Impairment Analysis Dashboard">
  <main>
    <ImpairmentDashboard client:load />
  </main>
</Layout>
